<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='极速借贷款详情列表'"></head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<!--头-->
		<div th:replace="fragments/head :: header"></div>
		<div class="layui-body" style="margin: 1%">
				<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
					<legend>查看极速借贷款详情</legend>
				</fieldset>
                <input id="userID" type="hidden" th:value="${#httpServletRequest.getAttribute('credit').userid}"/>
				<form class="layui-form layui-form-pane" action="" method="post">
					<div class="layui-form-item">
						<label class="layui-form-label">真实姓名</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="name" placeholder="暂无信息" th:value="${#httpServletRequest.getAttribute('credit').name}"  autocomplete="off" class="layui-input" />
						</div>
						
						<label class="layui-form-label">身份证号</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="name" placeholder="暂无信息" th:value="${#httpServletRequest.getAttribute('credit').idcard}"
								autocomplete="off" class="layui-input" />
						</div>

						 <label class="layui-form-label">来源</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="source" placeholder="暂无信息" th:value="${#httpServletRequest.getAttribute('credit').source==1?'M端':'PC端'}"
								autocomplete="off"  class="layui-input" />
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label">手机号码</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="number" placeholder="暂无信息" th:value="${#httpServletRequest.getAttribute('credit').number}"
								autocomplete="off" class="layui-input" />
						</div>
						<label class="layui-form-label">邮箱</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="number" placeholder="暂无信息" th:value="${#httpServletRequest.getAttribute('credit').email}"
								autocomplete="off" class="layui-input" />
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">申请时间</label>
							<div class="layui-input-inline" style="width: 190px;">
								<input readonly='readonly' type="text" placeholder="开始时间" th:value="${#httpServletRequest.getAttribute('credit').createtime}"
									 class="layui-input" />
							</div>
							<div class="layui-form-mid">到</div>
							<div class="layui-input-inline" style="width: 190px;">
								<input readonly='readonly'  placeholder="结束时间" th:value="${#httpServletRequest.getAttribute('credit').updatetime}"
									type="text" class="layui-input" />
							</div>
						</div>
					</div>
					
					<div class="layui-form-item">
						<label class="layui-form-label">家庭住址</label>
						<div class="layui-input-inline">
							<select name="quiz1" id="iaddr_prov" >
							</select>
						</div>
						<div class="layui-input-inline">
							<select name="quiz2"  id="iaddr_city" >
							</select>
						</div>
						<div class="layui-input-inline">
							<select name="quiz3" id="iaddr_county">
							</select>
						</div>
						<label class="layui-form-label">详细住址</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="number" style="width:500px;" placeholder="暂无信息" th:value="${#httpServletRequest.getAttribute('credit').street}"
								autocomplete="off" class="layui-input" />
						</div>
					</div>
					<div class="layui-form-item" id="info_address">
						<label class="layui-form-label">工作地址</label>
						<div class="layui-input-inline">
							<select name="quiz1" id="work_prov">
								
							</select>
						</div>
						<div class="layui-input-inline">
							<select name="quiz2"  id="work_city">
								
							</select>
						</div>
						<div class="layui-input-inline">
							<select name="quiz3"  id="work_county">
								
							</select>
						</div>
						<label class="layui-form-label">详细地址</label>
						<div class="layui-input-inline"> 
							<input readonly='readonly' type="text" name="number" style="width:500px;" placeholder="暂无信息" th:value="${#httpServletRequest.getAttribute('credit').workstreet}"
								autocomplete="off" class="layui-input" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">借款用途</label>
						<div class="layui-input-inline">
							<select name="use" >
	                            <option value="1"  id="use1">常规备货</option>
	                            <option value="2"  id="use2">旺季备货</option>
	                            <option value="3"  id="use3">上新品</option>
	                            <option value="4"  id="use4">海外仓</option>
	                            <option value="5"  id="use5">人员招聘</option>
	                            <option value="6"  id="use6">固定资本投资</option>
	                            <option value="7"  id="use7">建设品牌</option>
	                            <option value="8"  id="use8">开拓新平台</option>
	                            <option value="9"  id="use9">其他</option>
							</select>
						</div>
						<label class="layui-form-label">借款金额</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="number" placeholder="暂无信息" th:value="|${#httpServletRequest.getAttribute('credit').money}万元|" autocomplete="off" class="layui-input" />
							
						</div>
						<label class="layui-form-label">借款期限</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="number" placeholder="暂无信息" th:value="|${#httpServletRequest.getAttribute('credit').repayPeriod}个月|" autocomplete="off" class="layui-input" />
						</div>
						<label class="layui-form-label">合作机构</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="number" placeholder="暂无信息" value="极速借"
								autocomplete="off" class="layui-input" />
						</div>
					</div>
					<div class="layui-form-item">
						<div style="display: inline-block;">
						 <p class="server-p2">身份证正面照片:</p>
					      <div class="server-div1" onclick="showPhoto('imgpic1')" style="margin-top: 15px; height: 302px; width:440px;border:1px #bbb solid; text-align:center; overflow:hidden;">
					        <div class="server-div2" style="position: relative;">
					          <img id="imgpic1"  th:src="${#httpServletRequest.getAttribute('credit').pic1}" style="height:302px; display:inline-block;" class="server-img1"/>
					        </div>
					      </div>
					      </div>
					      <div style="display: inline-block;">
					       <p class="server-p2">身份证反面照片:</p>
					      <div class="server-div1" onclick="showPhoto('imgpic2')" style="margin-top: 15px; height: 302px;  width:440px;border:1px #bbb solid; text-align:center; overflow:hidden;">
					        <div class="server-div2" style="position: relative;">
					          <img id="imgpic2" th:src="${#httpServletRequest.getAttribute('credit').pic2}" style="height:302px; display:inline-block;" class="server-img1"/>
					        </div>
					      </div>
					      </div>
					      <div style="display: inline-block;">
					       <p class="server-p2">手持身份证上半身照片:</p>
					      <div class="server-div1" onclick="showPhoto('imgpic3')" style="margin-top: 15px; height: 302px;  width:440px;border:1px #bbb solid; text-align:center; overflow:hidden;">
					        <div class="server-div2" style="position: relative;">
					          <img id="imgpic3"  th:src="${#httpServletRequest.getAttribute('credit').pic3}" style="height:302px; display:inline-block;" class="server-img1"/>
					        </div>
					      </div>
					      </div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label" style="width:130px;">家庭联系人姓名</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="linkName1"  th:value="${#httpServletRequest.getAttribute('credit').linkName1}" class="layui-input" />
						</div>
						<label class="layui-form-label" >关系</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="radio" id="parent"  value="1" title="父母" name="link_type1"/>
							<input readonly='readonly' type="radio" id="wife"  value="2" title="配偶"  name="link_type1" />
						</div>
						<div class="layui-input-inline">
								<input readonly='readonly' type="radio" id="son" value="3" title=" 子女" name="link_type1"/>
						</div>
						<label class="layui-form-label" >手机号</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="linkNumber1" th:value="${#httpServletRequest.getAttribute('credit').linkNumber1}" class="layui-input"/>
						</div>
					</div>
					<div  class="layui-form-item" >
					<label class="layui-form-label" style="width:130px;">工作联系人姓名</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="linkName2"  th:value="${#httpServletRequest.getAttribute('credit').linkName2 }" class="layui-input"/>
						</div>
						<label class="layui-form-label" >关系</label>
						<div class="layui-input-inline" style="width:200px;">
								<input readonly='readonly' type="radio" value="1" id="colleague" title="同事" name="link_type2"  /> 
								<input readonly='readonly' type="radio" value="2" id="supplier" title="供应商" name="link_type2"  /> 
						</div>
						<div class="layui-input-inline" style="width:180px;">
								<input readonly='readonly' type="radio" value="3" id="provider" title="服务商" name="link_type2"  />
						</div>
						<label class="layui-form-label" >手机号</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="linkNumber2" th:value="${#httpServletRequest.getAttribute('credit').linkNumber2}" class="layui-input" />
						</div>
					</div>
					<div class="layui-form-item">
					<label class="layui-form-label" style="width:130px;">其他联系人姓名</label>
						<div class="layui-input-inline" >
							<input readonly='readonly' type="text" name="linkName3" th:value="${#httpServletRequest.getAttribute('credit').linkName3}" class="layui-input"/>
						</div>
						<label class="layui-form-label">关系</label>
						<div class="layui-input-inline">
								<input readonly='readonly' type="radio" value="1" id="friend" title="朋友" name="link_type3"  />
								<input readonly='readonly' type="radio" value="2" id="classmate" title="同学"  name="link_type3"   /> 
						</div>
						<div class="layui-input-inline">
								<input readonly='readonly' type="radio" value="3" id="teacher" title="老师" name="link_type3" />
						</div>
						<label class="layui-form-label">手机号</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text" name="linkNumber3" th:value="${#httpServletRequest.getAttribute('credit').linkNumber3}" class="layui-input" />
						</div>
					</div>

					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">备注</label>
						<div class="layui-input-block">
							<textarea placeholder="请输入内容" readonly='readonly' th:text="${#httpServletRequest.getAttribute('credit').mark}" class="layui-textarea"></textarea>
						</div>
					</div>
					<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
						<legend>极速借贷款通知详情</legend>
					</fieldset>
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 120px;">消息来源</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text"  placeholder="暂无信息" autocomplete="off" class="layui-input" id="sourceType"/>
						</div>
						
						<label class="layui-form-label">审核状态</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text"  placeholder="暂无信息" autocomplete="off" class="layui-input" id="loanStatus"/>
						</div>
						
						<label class="layui-form-label">通知时间</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text"  placeholder="暂无信息" autocomplete="off" class="layui-input"
								th:value="${#httpServletRequest.getAttribute('credit').notifyTime == null ? '' : (#strings.substring(#httpServletRequest.getAttribute('credit').notifyTime,0,#strings.length(#httpServletRequest.getAttribute('credit').notifyTime)-2))}"/>
						</div>
					</div>
					<div class="layui-form-item">
						
						<label class="layui-form-label" style="width: 120px;">放款到账类型</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text"  placeholder="暂无信息" autocomplete="off" class="layui-input" id="loanType"/>
						</div>
					
						<label class="layui-form-label">收款卡号</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text"  placeholder="暂无信息" autocomplete="off" class="layui-input" 
								th:value="${#httpServletRequest.getAttribute('credit').loanBankCard == null ? '' : #httpServletRequest.getAttribute('credit').loanBankCard}"/>
						</div>
						
						<label class="layui-form-label">所属银行</label>
						<div class="layui-input-inline">
							<input readonly='readonly' type="text"  placeholder="暂无信息" autocomplete="off" class="layui-input" 
								th:value="${#httpServletRequest.getAttribute('credit').loanBankName == null ? '' : #httpServletRequest.getAttribute('credit').loanBankName}"/>
						</div>
					</div>
					
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">极速借贷款通知描述</label>
						<div class="layui-input-block">
							<textarea placeholder="暂无信息" readonly='readonly' th:text="${#httpServletRequest.getAttribute('credit').desc == null ? '' : #httpServletRequest.getAttribute('credit').desc}" 
								class="layui-textarea"></textarea>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="refeshSubmit"><i class="layui-icon">&#x1002;</i> 刷新</button>
							<button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="backSubmit"><i class="layui-icon">&#xe65c;</i> 返回</button>
						</div>
					</div>
				</form>
			</div>
		<!--底部-->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
		var currentPage = /*[[${currentPage}]]*/;
		/*]]>*/
	</script>
	<script src="/js/loan/borrowList.js"></script>
	<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/
	var loanStatus = /*[[${#httpServletRequest.getAttribute('credit').loanStatus}]]*/;
	var loanStatusStr="";
	if(loanStatus){
		if(loanStatus == 1){
			loanStatusStr = "提交申请";
		}else if(loanStatus == 2){
			loanStatusStr = "审核通过";
		}else if(loanStatus == 3){
			loanStatusStr = "审核放弃";
		}else if(loanStatus == 4){
			loanStatusStr = "审核拒绝";
		}else if(loanStatus == 5){
			loanStatusStr = "待资金方放款";
		}else if(loanStatus == 6){
			loanStatusStr = "放款完成";
		}else if(loanStatus == 7){
			loanStatusStr = "还款完成";
		}
	}
	$("#loanStatus").val(loanStatusStr);
	
	var sourceType = /*[[${#httpServletRequest.getAttribute('credit').sourceType}]]*/;
	var sourceTypeStr = "";
	if(sourceType){
		if(sourceType == 1){
			sourceTypeStr = "申请审核状态通知";
		}else if(sourceType == 2){
			sourceTypeStr = "放款类通知";
		}else if(sourceType == 3){
			sourceTypeStr = "还款结清通知";
		}
	}
	$("#sourceType").val(sourceTypeStr);
	
	var loanType=/*[[${#httpServletRequest.getAttribute('credit').loanType}]]*/;
	var loanTypeStr = "";
	if(loanType){
		if(loanType == 1){
			loanTypeStr = "到银行卡";
		}else if(loanType == 2){
			loanTypeStr = "到电子账户";
		}
	}
	$("#loanType").val(loanTypeStr);
	           
	var link_type1=/*[[${#httpServletRequest.getAttribute('credit').linkType1}]]*/;
	var link_type2=/*[[${#httpServletRequest.getAttribute('credit').linkType2}]]*/;
	var link_type3=/*[[${#httpServletRequest.getAttribute('credit').linkType3}]]*/;
	var creditUsage=/*[[${#httpServletRequest.getAttribute('credit').creditusage}]]*/;
	$("#use"+creditUsage).attr("selected","selected");

	if(link_type1==1){
		$("#parent").attr("checked","checked");
	}else if(link_type1==2){
		$("#wife").attr("checked","checked");
	}else if(link_type1==3){
		$("#son").attr("checked","checked");
	}
	if(link_type2==1){
		$("#colleague").attr("checked","checked");
	}else if(link_type2==2){
		$("#supplier").attr("checked","checked");
	}else if(link_type2==3){
		$("#provider").attr("checked","checked");
	}
	if(link_type3==1){
		$("#friend").attr("checked","checked");
	}else if(link_type3==2){
		$("#classmate").attr("checked","checked");
	}else if(link_type3==3){
		$("#teacher").attr("checked","checked");
	}
    //重新渲染下form表单 否则单选框容易失效
    layui.use(['form'], function(){
        var form = layui.form ;
        form.render('radio');
    });
	var fam_region=/*[[${#httpServletRequest.getAttribute('credit').region}]]*/;
	var fam_city=/*[[${#httpServletRequest.getAttribute('credit').city}]]*/;
	var fam_area=/*[[${#httpServletRequest.getAttribute('credit').area}]]*/;
	var work_region=/*[[${#httpServletRequest.getAttribute('credit').workregion}]]*/;
	var work_city=/*[[${#httpServletRequest.getAttribute('credit').workcity}]]*/;
	var work_area=/*[[${#httpServletRequest.getAttribute('credit').workarea}]]*/;
	
	/*]]>*/
		//work 1是家庭 2是工作 首先是省 ->到 市->到 区
	$(function(){
        getAddressByJSJ(0,0,fam_region,1);
        getAddressByJSJ(1,fam_region,fam_city,1);
        getAddressByJSJ(2,fam_city,fam_area,1);
        getAddressByJSJ(0,0,work_region,2);
        getAddressByJSJ(1,work_region,work_city,2);
        getAddressByJSJ(2,work_city,work_area,2); 
	});
    </script>
</body>
</html>