<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title=''"></head>
<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    var currentPage = /*[[${currentPage}]]*/;
    /*]]>*/
</script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>
    <div class="layui-body" style="margin: 1%">
        <fieldset class="layui-elem-field layui-field-title"
                  style="margin-top: 20px;">
            <legend>数据列表</legend>
        </fieldset>
        <form class="layui-form layui-form-pane" action="" method="post" id="usersForm">
            <div class="layui-form-item"><label class="layui-form-label">name</label>
                <div class="layui-input-inline">
                    <input type="text" name='name' placeholder='name'
                           autocomplete="off" class="layui-input" maxlength="20"/>
                </div>
                <label class="layui-form-label">phone</label>
                <div class="layui-input-inline">
                    <input type="text" name='phone' placeholder='phone'
                           autocomplete="off" class="layui-input" maxlength="20"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">提交时间</label>
                    <div class="layui-input-inline" style="width: 190px;">
                        <input type="text" id="startDate" placeholder="开始时间"
                               name="startDate" class="layui-input" readonly="readonly"/>
                    </div>
                    <div class="layui-form-mid">到</div>
                    <div class="layui-input-inline" style="width: 190px;">
                        <input id="endDate" name="endDate" placeholder="结束时间"
                               type="text" class="layui-input" readonly="readonly"/>
                    </div>
                    <button class="layui-btn" lay-submit="" lay-filter="searchSubmit" style="margin-left: 15px">查询
                    </button>
                    <button class="layui-btn layui-btn-primary" lay-submit="" lay-filter="clear">重置</button>
                </div>
            </div>

        </form>
        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="add" id="add">添加</button>
        <table class="layui-hide" id="usersTable" lay-filter="usersTable"></table>
        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            <a class="layui-btn layui-btn-xs layui-btn-warm " lay-event="update">编辑</a>
        </script>
    </div>
    <!--添加或编辑用户-->
    <div id="setUsers" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="usersInfo" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="id" type="hidden" name="id" value="-1"/>
            <div class="layui-form-item">
                <label class="layui-form-label">name</label>
                <div class="layui-input-inline">
                    <input id='name' placeholder='name' name="name" maxlength="20" autocomplete="off"
                           class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">phone</label>
                <div class="layui-input-inline">
                    <input id='phone' placeholder='phone' name="phone" maxlength="20" autocomplete="off"
                           class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn" lay-submit="" id="addSubmit" lay-filter="addSubmit">添加</button>
                    <button class="layui-btn" lay-submit="" id="updateSubmit" lay-filter="updateSubmit">修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
</div>

<script src="/js/users/usersList.js"></script>
</body>
</html>
