<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wupao.log.mapper.CodeDataMapper">
	<sql id="Base_Column_List">
		
	</sql>
	<!-- 分页获取网店授权列表 -->
	<select id="selectCodeDataInfoList" resultType="com.wupao.log.pojo.LoanShopInfo">
		select
		*
		from loan_shop_info 
		<where>
			<if test="flag!=null and flag==1">
				and uniqueFlag !='wupaoApp' and uniqueFlag!='liyidaApp'
			</if>
			<if test="flag!=null and flag==2">
				and uniqueFlag='liyidaApp'
			</if>
			<if test="shopName!=null and shopName!=''">
				and shopName like concat(concat('%',#{shopName}),'%')
			</if>
			<if test="username!=null and username!=''">
				and uniqueFlag like concat(concat('%',#{username}),'%')
			</if>
			<if test="shopType!=null and shopType!=''">
				and shopType=#{shopType}
			</if>
		</where>
		order by insertTime desc
	</select>
	<!-- 分页获取网店授权列表 -->

	<select id="selectCodeDataInfoTotalRows" resultType="int">
		select
		count(1)
		from loan_shop_info 		
		where uniqueFlag is not null and uniqueFlag&lt;&gt;''
		<if test="shopName!=null and shopName!=''">
			and shopName like concat(concat('%',#{shopName}),'%')
		</if>
		<if test="username!=null and username!=''">
			and uniqueFlag like concat(concat('%',#{username}),'%')
		</if>
		<if test="shopType!=null and shopType!=''">
			and shopType=#{shopType}
		</if>
		
	</select>
	<!-- 根据id查询详情 -->
	<select id="searchById" resultType="com.wupao.log.pojo.LoanShopInfo">
		select *
		from loan_shop_info 
		where id = #{id}
	</select>
	<!-- 根据id查询详情 -->
</mapper>