<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wupao.log.mapper.CreditInfoMapper">

	<select id="selectCreditInfoList" resultType="com.wupao.log.pojo.EcCreditInfoBean">
		select i.*
		from credit_info i
		LEFT JOIN user u ON
		i.userID=u.userID
		<where>
			<if test="startDate!=null and startDate!=''">
				and i.createTime &gt;#{startDate}
			</if>
			<if test="endDate!=null and endDate!=''">
				and i.createTime &lt;#{endDate}
			</if>
			<if test="cib.number!=null and cib.number!=''">
				and i.number like concat(concat('%',#{cib.number}),'%')
			</if>
			<if test="cib.name!=null and cib.name!=''">
				and i.name like concat(concat('%',#{cib.name}),'%')
			</if>
			<if test="cib.status!=null and cib.status!=-1">
				and i.status = #{cib.status}
			</if>
					and i.bankid=1
		</where>
		order by i.createTime desc
	</select>
	<!-- 查询城市联动 -->
	<select id="getProCityArea" resultType="java.util.Map">
        select id,name
        from ${tbName}
        where ${upName}=#{id}
       
    </select>
    
    <select id="selectCreditDetailInfo" resultType="java.util.Map">
	   select i.userid,i.orderid,i.bankid,i.name,i.sex,u.email,i.IDcard,i.cardNumber,i.number,i.region,i.city,i.area,i.street,i.workRegion,i.workCity,i.workArea,i.workStreet,i.money,i.creditUsage,cs.repay_method,cs.repay_period,i.mark,
i.createTime,i.updateTime,ck.link_name1,ck.link_name2,ck.link_name3,ck.link_type1,ck.link_type2,ck.link_type3,ck.link_number1,ck.link_number2,ck.link_number3,
ck.internetloan,ck.financialloan,ck.litigant,ck.administrative_sanction AS 'administrativeSanction',ck.other_debet_case AS 'otherDebetCase',
cp.pic1,cp.pic2,cp.pic3,i.source
		from credit_info i
		inner join user u on
		i.userID=u.userID inner join credit_link ck on i.orderID=ck.orderID inner join credit_pic cp on i.orderID=cp.orderID inner join credit_scheme cs on i.schemeID=cs.id  where i.orderid=#{rid} and i.userid=#{uid}
    </select>
    
    <!-- 审批 -->
    <update id="updateCreditInfo">
    	update credit_info 
    	<set>
    		<if test="status!=null">
    			status = #{status},
    		</if>
    		<if test="mark!=null and mark!=''">
    			mark = #{mark},
    		</if>
    		<if test="updateTime!=null and updateTime!=''">
    			updateTime = #{updateTime},
    		</if>
    	</set>
    	where orderID = #{orderID}
    </update>
    <!-- 审批 -->
    <!-- 绑定 -->
    <update id="bindingUserId">
    	update credit_info 
    	<set>
    		<if test="userId!=null and userId!=''">
    			userID = #{userId}
    		</if>
    	</set>
    	where orderID = #{orderID}
    </update>
    <!-- 修改渠道商 -->
    <update id="updateQuDao">
    	update credit_info 
    	<set>
    		<if test="bankid!=null">
    			bankid = #{bankid}
    		</if>
    	</set>
    	where orderID = #{orderID}
    </update>

	<!-- 根据订单编号查询信息是否存在-->
	<select id="selectCountInfoByOrderId" resultType="integer">
      SELECT COUNT(orderID) FROM credit_info WHERE orderID =#{orderId}
    </select>
</mapper>