<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wupao.log.mapper.UsersMapper">

	<sql id="where">

    <if test="users.name != null and users.name !=''" > 
and name like concat(concat('%',#{users.name}),'%') 
</if>
<if test="users.phone != null and users.phone !=''" > 
and phone like concat(concat('%',#{users.phone}),'%') 
</if>


	</sql>

	<select id="count" resultType="int">
		select count(1) from users t
		<include refid="where" />
	</select>

	<update id="updateUsers">
		update users t
		<set>
						<if test="name != null and name !=''">
				name = #{name}, 
			</if>
			<if test="phone != null and phone !=''">
				phone = #{phone}, 
			</if>
update_time =now()
		</set>

		where t.id = #{id}
	</update>

    <select id="selectUsersInfoList" resultType="com.wupao.log.pojo.Users">
        select *
        from users
        <where>
            <if test="startDate!=null and startDate!=''">
                and update_time &gt;#{startDate}
            </if>
            <if test="endDate!=null and endDate!=''">
                and update_time &lt;#{endDate}
            </if>
            <include refid="where" />
            and is_del=1
        </where>
        order by update_time desc
    </select>
    <update id="delUsersInfo">
        update users set is_del=0 where id=#{id}
    </update>
</mapper>
